@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500;700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  color: #00000077;
}

input[type='button'],
input[type='reset'] {
  padding: 7px 17px;
  border: 1px solid rgba(255, 255, 255, 0.17);
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.11);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  font-weight: 700;
  font-size: 11px;
}

body {
  background-color: rgb(253 126 73 / 47%);
  background-image: url('../media/images/isaac-smith-6EnTPvPPL6I-unsplash.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: auto;
  height: 100%;
  display: flex;
  padding: 30px;
}

.app {
  width: auto;
  max-width: 370px;
  height: auto;
  margin: 70px auto;
  border: 1px solid rgba(255, 255, 255, 0.17);
  border-radius: 7px;
  background: rgba(255, 255, 255, 0.11);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(.3px);
  -webkit-backdrop-filter: blur(.3px);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  gap: 3vh;
}

.app .banner-section {
  background-color: rgba(255, 255, 255, 0.11);
  border: 3px solid rgba(255, 255, 255, 0.17);
  border-radius: 7px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 11px 21px;
  font-size: 21px;
  box-shadow: 0 8px 32px 0 rgba(31, 135, 83, 0.237);
  width: 100%;
}

.app .stock-input {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  gap: 11px;
  padding: 11px 21px;
}

.app .stock-input input {
  outline: none;
  border: 3px solid #ffffff77;
  background-color: #ffffff77;
  margin: 3px 3px 0 0;
  padding: 0 0 0 7px;
  border-radius: 3px;
  width: 93%;
}

.app .stock-input .buttons .calculate {
  width: auto;
  padding: 7px 17px;
  border: 1px solid rgba(255, 255, 255, 0.17);
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.37);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(70px);
  -webkit-backdrop-filter: blur(70px);
  font-weight: 700;
  font-size: 11px;
}

.app .stock-input .buttons .reset {
  width: auto;
  padding: 7px 17px;
  border: 1px solid rgba(255, 255, 255, 0.17);
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.11);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(27px);
  font-weight: 700;
  font-size: 11px;
}

.app .message {
  text-align: justify;
  padding: 30px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}